<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="head"></div>
    <!-- DataTables -->
    <link rel="stylesheet" href="../plugins/datatables/dataTables.bootstrap.css"/>
    <title>菜单管理</title>
    <script src="https://echarts.baidu.com/dist/echarts.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>

</head>

<body class="hold-transition skin-blue sidebar-mini ">
<div class="wrapper">

    <div th:replace="header"></div>
    <div th:replace="sidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="main" style="width: 600px;height:400px;"></div>
            <script type="text/javascript">

                var myChart = echarts.init(document.getElementById('main'));
                // 显示标题，图例和空的坐标轴
                myChart.setOption({
                    title: {
                        text: '异步数据加载示例'
                    },
                    tooltip: {},
                    legend: {
                        data:['销量']
                    },
                    xAxis: {
                        data: []
                    },
                    yAxis: {},
                    series: [{
                        name: '销量',
                        type: 'bar',
                        data: []
                    }]
                });

                // 异步加载数据
                $.get("/data", function (data) {
                    alert(data.xList)
                    alert(data.yList)
                    // 填入数据
                    myChart.setOption({
                        xAxis: {
                            data: data.xList
                        },
                        series: [{
                            // 根据名字对应到相应的系列
                            name: '销量',
                            data: data.yList
                        }]
                    });
                });

            </script>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


</div>

<div th:replace="script"></div>

<!-- page script -->
<script>
    $(function () {
        $('#dataTable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
<script th:src="@{/js/list-page.js}"></script>
</body>
</html>