<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>success</title>
</head>
<body>

auth failed, please try again
<script type="text/javascript">
    window.location = "blocky://blockymods.oversea/signature";
    // var state = document.getElementById("state").value;
        // var order_id = document.getElementById("order_id").value;
        // var transaction_id = document.getElementById("transaction_id").value;
        // var productId = document.getElementById("productId").value;
        // var pmId = document.getElementById("pmId").value;
        // window.location = "blocky://blockymods.oversea/pay?state="+state+"&amp;productId="+productId+"&amp;pmId="+pmId;
</script>
</body>

</html>